body {
  background-color: white;
}

h1 {
  color: c=7, m=87, y=59, k=0;
  text-align: center;
  font-family: impact regular;
  font-size: 72pt;
  leading: 86.4pt;
  letter-spacing: 310
}

h2 {
  color: c=7, m=87, y=59, k=0;
  text-align: center;
  font-family: impact regular;
  font-size: 50pt;
  leading: 60pt;
}

p {
  color: black;
  font-family: Trade Gothic Next LT Pro regular;
  font-size: 14pt;
  leading: 16.8pt;
  text-align: left
}

div {
  background-color: white
}